@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import 'styles/variables';
@import 'styles/card';

*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;

    font-size: 13px;
    font-family: 'Manrope', sans-serif;

    background-color: $clr-light-gray-blue;
}